body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/    
	//  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

}


img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

 .markdown-source-view.mod-cm6 .cm-content > * {
    margin:  auto !important;
}


img {
display: block !important;
margin-left: auto !important;
margin-right: auto !important;
width: 900px !important;
}

.markdown-source-view.mod-cm6 .cm-content > * {
margin: auto !important;
}


/* 针对网页端图片的通用标题显示 */
.markdown-preview-view img::after,
.content img::after,
img[alt]::after {
    content: attr(alt) !important;
    font-size: 0.8em !important;
    display: block !important;
    text-align: center !important;
    padding: 0.5em !important;
    color: #666 !important; /* 给标题一个灰色，更有质感 */
}

